.banner-background{
    background-image: url("../../../images/bannerbackground.png");
    height: 535px;
    background-size: cover;
    background-position: center;
}
.hero-title{
    padding-top: 100px;
}